{% extends '::base.html.twig' %}
{% block content %}
	<div class="row" >
	  <div class="small-3 small-centered columns">
	  	<div class="row">
	  		contacto 1 
	  	</div>
	  	<div class="row">
	  		contacto 2
	  	</div>
	  </div>
	</div>
{% endblock %}