{% extends '::base.html.twig' %}
{% block content %}
<<<<<<< HEAD
<div class="page-wrap">
	<div class="row" >
	  <div class="small-3 small-centered columns">
	  	<div class="row">
	  		contacto 1 
	  	</div>
	  	<div class="row">
	  		contacto 2
	  	</div>
	  </div>
	</div>
</div>	
=======
	<div class="row">
		<div class="large-12 columns" align="center">
			<h1> En construcción...</h1>
			<hr>
		</div>
	</div>
>>>>>>> upstream/master
{% endblock %}