{% extends '::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="large-12 columns" align="center">
			<h1> </h1>
			<p>En este documento se muestran algunos ejemplos con código, para familizarizarse con los problemas a resolver durante el concurso:</p>
			<hr>
		</div>
	</div>
	<div class="row">
		<style type="text/css"> 
		#portapdf { 
		    width: 100%; 
		    height: 100%; 
		    border: 1px solid #484848; 
		    margin: 0 auto; 
		} 
		</style> 
		<div id="portapdf">
			<object data="{{asset('EjemplosCONREPRO2015.pdf')}}" type="application/pdf" width="100%" height="100%"></object> 
		</div>
		<div>
			<p>Si no puedes ver el documento clic <a href="{{asset('EjemplosCONREPRO2015.pdf')}}">aquí</a>
			</p> 
		</div>
	</div>
{% endblock %}