{% extends '::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="large-12 columns" align="center">
		{% for dir in lista %}
			<img src='{{asset(dir)}}' >
		{% endfor %}
		</div>
	</div>
{% endblock %}
