{% extends '::base.html.twig' %}
{% block content %}
      <div class="row">
        <div class="large-12 columns" align="center">
          <br/>
          <img align="center" height="75%" width="75%" src="{{asset('banner_concurso2015.jpg')}}">
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <strong>¿Quiénes pueden participar?</strong><br/>
            <p>Estudiantes que cursen el sexto semestre de bachillerato y que no tengan materias reprobadas.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <strong>¿En qué consiste? </strong><br/>
            <p>Resolver problemas mediante algún lenguaje de programación.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <strong>¿Cuándo se llevara a cabo?</strong><br/>
            <p>El viernes 17 de Abril del 2015.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <strong>¿En dónde?</strong><br/>
            <p>En las instalaciones del Instituto Tecnológico de Mexicali.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
            <strong>¿Cuáles son los premios?</strong><br/>
            <p>Una tableta a cada integrante del equipo ganador del primer lugar. Beca para estudiar en el ITM a los integrantes de los equipos ganadores de los primeros cinco lugares.</p>
        </div>
      </div>
    
       
{% endblock %}