{% extends '::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="large-12 columns" align="center">
			<h1> Programa</h1>
			<hr>
		</div>
		<div class="row">
	        <div class="large-2 columns">
	            <strong>8:00-9:00hrs.</strong><br/>
	        </div>
	        <div class="large-10 columns">
	        	<p>Registro de participantes<br/>
				Lugar: Lobby del edificio “G”.</p>
	        </div>
	        <hr>
      	</div>
		<div class="row">
	        <div class="large-2 columns">
	            <strong>8:45hrs.</strong><br/>
	        </div>
	        <div class="large-10 columns">
	        	<p>Ceremonia de inauguración<br/>
				Lugar: Lobby del edificio “G”.</p>
	        </div>
	        <hr>
      	</div>
		<div class="row">
	        <div class="large-2 columns">
	            <strong>9:00-12:00hrs.</strong><br/>
	        </div>
	        <div class="large-10 columns">
	        	<p>Concurso de programación<br/>
				Lugar: Laboratorios del edificio “G”.</p>
	        </div>
	        <hr>
      	</div>
		<div class="row">
	        <div class="large-2 columns">
	            <strong>13:00hrs.</strong><br/>
	        </div>
	        <div class="large-10 columns">
	        	<p>Premiación y Clausura<br/>
				ugar: Sala audiovisual del edificio “G”.</p>
	        </div>
	        <hr>
      	</div>
	</div>
{% endblock %}