{% extends '::base.html.twig' %}
{% block content %}
	<div class="row">
		<div class="large-12 columns" align="center">
			<h1> En construcción...</h1>
			Datos de usuario:</br>
			Nombre: {{ usuario.nombre }}</br>
			Nombre: {{ usuario.email }}
			<div>
			    <a href="{{path('logout')}}">Logout</a>
			</div>
			<hr>
		</div>
	</div>
{% endblock %}